<h1><%= @person.twitter_name %></h1>
<%= image_tag @person.profile_image_url_ssl %>
<%= link_to "Twitter", @person.twitter_website %>

Donations Amount: <%= @person.donations_amount_in_cents %>
<%= image_tag @person.profile_image_url_ssl %>
<%= image_tag @person.profile_image_url_ssl %>
donations_amount_in_cents=0,
donations_amount_this_cycle_in_cents=0,
donations_count=0,
donations_count_this_cycle=0,
donations_pledged_amount_in_cents=0,
donations_raised_amount_in_cents=0,
donations_raised_amount_this_cycle_in_cents=0,
donations_raised_count=0,
donations_raised_count_this_cycle=0,
donations_to_raise_amount_in_cents=0,
