<div class="contianer">
  <form>
    <%= form_tag "/events", method: :post do %>
    <div class="form-group">
      <%= label_tag "Event name" %>
      <%= text_field_tag "event[name]", nil, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag  "Contact name" %>
      <%= text_field_tag  "event[contact][name]", nil, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag  "Contact phone" %>
      <%= text_field_tag  "event[contact][phone]", nil, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag  "Contact email" %>
      <%= text_field_tag  "event[contact][email]", nil, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag  "Start Date" %>
      <%= date_field_tag "event[start_time]", nil, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag  "End Date" %>
      <%= date_field_tag "event[end_time]", nil, class: "form-control" %>
    </div>
    <%= hidden_field_tag "event[status]", "unlisted" %>
    <%= submit_tag nil, class: "btn btn-submit" %>
  <%# <% binding.pry %>
  <% end %>
</div>
