<div class="row">
  <div class="col col-sm-2"></div>
  <div class="col col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>New event
          <%= link_to 'Back', :back, class: "btn btn-default pull-right" %>
        </h3>
      </div>
      <%= form_tag events_path, method: "post" do %>
        <div class="form-group">
          <%= label_tag "Event name" %>
          <%= text_field_tag "event[name]", nil, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= label_tag  "Contact name" %>
          <%= text_field_tag  "event[contact][name]", nil, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= label_tag  "Contact phone" %>
          <%= text_field_tag  "event[contact][phone]", nil, class: "form-control", required: true  %>
        </div>
        <div class="form-group">
          <%= label_tag  "Contact email" %>
          <%= text_field_tag  "event[contact][email]", nil, class: "form-control", required: true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
        </div>
        <div class="form-group">
          <%= label_tag  "Start Date" %>
          <%= date_field_tag "event[start_time]", nil, class: "form-control", required: true  %>
        </div>
        <div class="form-group">
          <%= label_tag  "End Date" %>
          <%= date_field_tag "event[end_time]", nil, class: "form-control", required: true  %>
        </div>
        <%= hidden_field_tag "event[status]", "unlisted" %>
        <%= submit_tag %>
      <% end %>
    </div>
  </div>
</div>
