<!DOCTYPE html>
<html>
<head>
<title>TrackFund</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>

<div class="col col-sm-10 col-sm-offset-1">
  <%= render partial: "navigation" %>
</div>

<div class="container">
  <div class="row">
    <div class="col col-sm-10 col-sm-offset-1">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{name} text-center" %>
      <% end %>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
